@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #00090E;
    --text-color: #E1E1E1;
    --primary-color: #81FE88;
    --secondary-color: #888888;
    --tag-color: #171D1F;
    --itens-background:#171D1F;

    --font-family: "Prompt", sans-serif;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: start;

    height: 100vh;
    gap: 27px;
    padding: 56px 0;
}

aside {
    background-color: var(--itens-background);
    border-radius: 10px;
    height: 100%;
    padding: 40px 16px;
    text-align: center;
}

.lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    align-items: center;
}

.lista__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.lista__links__botao {
    text-decoration: none;
    color: var(--primary-color);
    border:2px solid var(--primary-color);
    border-radius: 8px;
    padding: 1em 2.5em;
}

.lista__links__botao:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: 0.5s
}

main {
    background-color: var(--itens-background);
    border-radius: 10px;
    padding: 32px;
    display:flex;
    gap: 24px;
}

.container__upload__imagem {
    text-align: center;
}

.container__upload__imagem__botao {
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--itens-background);
    color: var(--secondary-color);
    width: 97%;
    padding: 1em 1.5em;
    font-family: var(--font-family);
    font-weight: 700;
    font-size:16px;
    cursor: pointer;
}

.container__upload__imagem__botao:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
    transition: 0.5s
}

.container__upload__imagem__registro {
    display: flex;
    justify-content: flex-start;
    margin: 0.5em;
    gap: 2px;
    font-size: 13px;
    color: var(--secondary-color);
}

.container__descricao__titulo {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 46px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container__descricao__subtitulo {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

form div input, textarea {
    width: 100%;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    font-family: var(--font-family);
    line-height: 22.5px;
}

form div input {
    height: 39px;
}

textarea {
    height: 161px;
    resize: none;
}

.lista__tags {
    display: flex;   
}

.lista__tags__item {
    display: flex;
    background-color: var(--secondary-color);
    color: var(--background-color);
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    list-style-type: none;
}

.container__botoes__botao-descartar {
    background-color: var(--itens-background);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 0.5em 1.2em;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
}

.container__botoes__botao-publicar {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 0.5em 1.5em;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
}
